body {
  margin: 0;
  background-color: #000;
  color: #fff;
  font-family: Monospace;
  font-size: 13px;
  line-height: 24px;
  overscroll-behavior: none;
}

a {
  color: #ff0;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
  text-transform: uppercase;
}

a, button, input, select {
  pointer-events: auto;
}

#overlay {
  position: absolute;
  font-size: 16px;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(0,0,0,0.7);
}

#overlay button {
  background: transparent;
  border: 0;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  color: #ffffff;
  padding: 12px 18px;
  text-transform: uppercase;
  cursor: pointer;
}

#prompt {
  outline: none;
  resize: none;
  border: 0 none;
  background: rgba(50, 50, 50, .5);
  border-radius: 2rem;
  width: 70%;
  opacity: 0;
  box-sizing: border-box;
  position: absolute;
  left: 15%;
  top: 70%;
  backdrop-filter: blur(5px);
  color: aqua;
  font-size: 1.5rem;
  font-family: monospace;
  padding: 1.2rem;
  transform: translateY(1.5rem);
  transition: 0.3s;
  transition-property: transform, opacity;
}

#prompt.prompt-active {
  opacity: 1;
  transform: none;
}
